<!DOCTYPE html>
<html>
  <head>
    <title>Uncorkd</title>
    <link rel="shortcut icon" href='https://pbs.twimg.com/profile_images/831875000818806785/cTnrkdbO.jpg' type="image/x-icon"/>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <% if signed_in? %>
    <script type=text/javascript >
        window.currentUser = <%= render(
        "api/users/user.json.jbuilder",
        user: current_user
        ).html_safe  %>
    </script>
    <% end %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
    <script type='text/javascript'>window.phoneImg = "<%= image_url('https://untappd.akamaized.net/assets/custom/homepage/images/masthead-img-main.png') %>"</script>
    <script type='text/javascript'>window.featureImg1 = "<%= image_url('https://untappd.akamaized.net/assets/custom/homepage/images/ratings.png') %>"</script>
    <script type='text/javascript'>window.featureImg2 = "<%= image_url('https://untappd.akamaized.net/assets/custom/homepage/images/badges.png') %>"</script>
    <script type='text/javascript'>window.featureImg3 = "<%= image_url('https://untappd.akamaized.net/assets/custom/homepage/images/icon-menu.svg') %>"</script>
    <script type='text/javascript'>window.featureImg4 = "<%= image_url('https://untappd.akamaized.net/assets/custom/homepage/images/icon-recommendations.svg') %>"</script>
    <script type='text/javascript'>window.featureImg5 = "<%= image_url('https://untappd.akamaized.net/assets/custom/homepage/images/phone-map.png') %>"</script>
    <script type='text/javascript'>window.featureImg6 = "<%= image_url('https://untappd.akamaized.net/assets/custom/homepage/images/icon-recommendations.svg') %>"</script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
